# Brief Introduction to Pandas

- Provides a powerful `DataFrame` object.
- Makes it easy to deal with "Tabular" data.
- Very easy to read, process and visualize data.
- See http://pandas.pydata.org

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Fundamentals

- Why do we need this?
- Data is often **tabular**
  - Imagine the class marks in a course or during a program
  - Imagine a population with weight, height, age etc.

- Think of each student as a row
- Each column as an attribute
- So the columns are **aligned** using the row

- With `pandas`, data alignment is **central**

There are three fundamental building blocks in pandas:
1. `pd.Series`
2. `pd.DataFrame` and
3. `pd.Index`

We will look into the first two as they are the most important.

## Building block: `Series`

- "Labels" are collectively called the **index**
- `Series`: bundles together an index and values
- Index can be implicit or explicit

In [ ]:
sn = pd.Series(np.random.normal(size=5))
sn

In [ ]:
sn.values

In [ ]:
sn.index


The values attribute is a numpy array

The index is an instance of `pd.Index` which is another fundamental building
block.

In [ ]:
sa = pd.Series(np.random.normal(size=5), index=["a", "b", "c", "d", "e"])
sa

In [ ]:
sn[0]

In [ ]:
# Note the warning!
sa[0]

In [ ]:
# This is the right way to access.
sa['a']

### `Series`: some points to note

- They behave like `numpy` arrays or dictionaries
- But carry the index
- All operations align on the label (i.e. index)
- The indices need not be contiguous or even be integers
- In a sense the `Series` is like a special dictionary keyed on index.
- Unaligned series will use the union of indices
- `NaN` is used to refer to missing values

In [ ]:
# Can be initialized with a dictionary
a = pd.Series(dict(x=1, a=21, b=2))
a

In [ ]:
# Or with explicit values and indices
a = pd.Series(np.arange(5), index=range(100, 110, 2))
a

In [ ]:
a[102]

In [ ]:
a = pd.Series(np.ones(5), index=["a", "b", "c", "d", "e"])
b = pd.Series(np.arange(5), index=["e", "d", "c", "b", "a"])
a + b

In [ ]:
a.dtype

In [ ]:
a = pd.Series(np.ones(5), index=["a", "b", "c", "d", "e"])
b = pd.Series(np.arange(4), index=["e", "d", "c", "b"])
a + b

### Aside

- `NaN` is a number!
- Beware of them
- Used to denote missing values in pandas.

In [ ]:
float('nan'), float('NaN')

In [ ]:
type(float('nan'))

In [ ]:
np.nan

In [ ]:
x = np.arange(5, dtype=float)
np.sum(x)

In [ ]:
x[0] = np.nan
np.mean(x)

- Use `np.nan*` functions
- `np.isnan` is also handy

In [ ]:
np.nansum(x)

## `DataFrame` basics

- A table of data: a spreadsheet
- Same index for all columns
- Different data types per column
- Think of it as a 2D numpy array with flexible row and column names.

We can construct these using Series objects.

In [ ]:
state_pop = {'Maharashtra': 112374333, 'UP': 199812341, 'Bihar': 104099452,
             'West Bengal': 91276115, 'MP': 72626809}
pop = pd.Series(state_pop)

In [ ]:
state_area = {'MP': 308252,  'UP': 240928, 'Maharashtra': 307713, 'Bihar': 94163,
              'West Bengal': 88752}
area = pd.Series(state_area)

In [ ]:
states = pd.DataFrame({'population': pop, 'area': area})
states

In [ ]:
states.index

In [ ]:
states.columns

In [ ]:
states['area']

In [ ]:
states['population']

In [ ]:
states.area


Can also create a data frame by supplying lists or numpy arrays

In [ ]:
d = pd.DataFrame(dict(x=[1, 2, 3], y=['hello', 'class', '2025']))

In [ ]:
d

In [ ]:
# Note that the index is implicit which may not be ideal
d.index

In [ ]:
d.describe()

In [ ]:
d.dtypes

Can create the array with a two-dimensional numpy array

In [ ]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

## The `pd.Index` object

Can be constructed explicitly

In [ ]:
ind = pd.Index([2, 4, 6, 8, 10])
ind

In [ ]:
ind1 = pd.Index([2, 3, 5, 7, 11])


- The index is immutable
- Supports basic set-like operations
  - Union, `|`
  - Intersection, `&`
  - Symmetric difference, `^`

In [ ]:
ind | ind1

In [ ]:
ind & ind1

### A toy example.

- This is a boring dataset but easy to create and demonstrate the basic
  features.

In [ ]:
x = np.linspace(0, 2*np.pi, 100)
sin = np.sin(x)
cos = np.cos(x)

In [ ]:
df = pd.DataFrame(dict(x=x, sin=sin))

In [ ]:
df = pd.DataFrame({'x': x, 'sin': sin, 'cos': cos, 'x-data':x})
# OR
#df = pd.DataFrame(dict(x=x, sin=sin, cos=cos))

In [ ]:
df.head()  # or df.tail()

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df['x-data']

In [ ]:
df.x[::10]

In [ ]:
# df.x-data[:5] will not work!!
df['x-data'][:5]

In [ ]:
df['x'][:5]

In [ ]:
df.x[:10]

In [ ]:
df.columns

In [ ]:
# Very useful when reading a file to ensure that the types are correctly
# parsed.
df.dtypes

In [ ]:
len(df)

In [ ]:
df.index

In [ ]:
df1 = df.copy()
df1.head()

Indexing
=========

Can do what we did above but also using:

- Select column: `df[col]`
- Slice rows: `df[3:13]`
- Select row by label: `df.loc[label_index]`
- Select row by numerical index: `df.iloc[integer]`
- Select rows by boolean vector: `df[bool_vec]`
- Select rows/colunns: `df[bool_vec, [label1, label2]]`
- `iloc`, `loc` are useful since using `[]` is confusing.

Shall explore this below.

In [ ]:
df['x']  # Access a column

In [ ]:
df.loc[10]

In [ ]:
df.loc[:10]

In [ ]:
df.loc[:10, 'x']

In [ ]:
df.loc[:10, ['sin', 'cos']]

In [ ]:
# This is not different in this case as the indices are integers
# Better example below.
df.iloc[:10]

### Examples with non-integer index

In [ ]:
d = pd.DataFrame(dict(x=[1, 2, 3], y=['hello', 'class', '2021']), index=list('abc'))

In [ ]:
d

In [ ]:
d.loc['a']

In [ ]:
# Note that this includes the last slice label!
d.loc['a':'b']

In [ ]:
d.iloc[0]

In [ ]:
d[1:3]


Back to our original DataFrame, `df`
- Give me a dataframe, where all cosine values are >0.

In [ ]:
df.head()

In [ ]:
# Recall masked indexing
y = np.linspace(10, 11, 11)
y

In [ ]:
y > 10.5

In [ ]:
cond = y > 10.5
y[cond]

- Same thing works with pandas

In [ ]:
condition = df.cos > 0.0
print(len(condition))
print(condition.sum())

In [ ]:
df_positive_cos = df[condition]
df_positive_cos.describe()

In [ ]:
# Combining conditionals
cond1 = df.sin > 0.0
df_all_positive = df[condition & cond1]
df_all_positive.describe()

In [ ]:
# Always, always use brackets when combining conditionals with bitwise
# operations.
df_all_positive = df[(df.cos > 0.0) & (df.sin > 0)]
df_all_positive.describe()

In [ ]:
# Use ~ for inverting the boolean as a Not
c = np.array([True, False, True, False])
c1 = np.array([False, True, False, False])
~(c | c1)

In [ ]:
cond1 = df_positive_cos.sin > 0.0
df_all_positive = df_positive_cos[cond1]
df_all_positive.describe()

In [ ]:
# This adds a new column sincos
df['sincos'] = df.sin*df.cos
# Do not use df.sincos = ...
len(df.sincos)

In [ ]:
df.describe()

In [ ]:
if 'x-data' in df:
    del df['x-data']
df.head()

### Operations and index alignment

- NumPy ufuncs can be applied
- All binary operations align on the index

In [ ]:
d = pd.DataFrame(np.random.randint(0, 10, size=(3, 4)),
                 columns=['A', 'B', 'C', 'D'])
d

In [ ]:
np.sin(d)

In [ ]:
a = pd.DataFrame(np.random.randint(0, 20, (2, 2)),
                 columns=list('AB'))
a

b = pd.DataFrame(np.random.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
b

In [ ]:
a + b

In [ ]:
a.add(b, fill_value=0.0)
a

There are many other methods, `sub, mul, floordiv, div, pow`, etc.

### Missing values
- Nan used to deal with missing values
- None also used to deal with missing values in data of type `object`

In [ ]:
s = pd.Series([1, np.nan, 'hello', None])
s

In [ ]:
s.isnull()

In [ ]:
s.notnull()

In [ ]:
s.dropna()

In [ ]:
# See the various arguments for each of these methods
s.fillna(0)

### Assignment of values

When assigning values, do it directly using `.loc`

In [ ]:
# Recall this
d

In [ ]:
# Note the warning!
d[d.A > 5]['A'] = 25
d

In [ ]:
# Instead do this:
d.loc[d.A > 5, 'A'] = 25
d

- Always beware of this SettingWithCopyWarning warnings
- Avoid ever setting values on slices/subsets without due care.

### String processing

- For any string type, use the `str` attributes and its methods.
- This applies to `Series`, `Index` and `DataFrame` objects!

In [ ]:
# From the pandas documentation.
s = pd.Series(
    ["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"], dtype="string"
)

In [ ]:
s.str.lower()

In [ ]:
s.str.upper()

In [ ]:
s.str.upper().str.replace('C', 'XX')

Plotting
=========

In [ ]:
df.plot(figsize=(20, 10));
# or
#df.plot.line()

Notice that everything is plotted w.r.t. the index!
Let us fix this!

In [ ]:
df.plot.line(x='x', y=['sin', 'cos'], figsize=(20, 10));

In [ ]:
# See what this does
df[(df.sin > 0.0) ^ (df.cos < 0.0)].plot.line(x='x', marker='o');

In [ ]:
df.plot.hist(y='cos', density=True);
# or
#df.plot(y='cos', kind='hist');

Input and output CSV and other file formats
--------------------------------------------

- `pd.read_csv()`
- `df.to_csv()`
- Can read/save to clip board.
- Directly read from URLs.

In [ ]:
df.to_csv('sincos.csv', index=False)

In [ ]:
df1 = pd.read_csv('sincos.csv')
df1.head()

### Conversion to LaTeX and HTML

In [ ]:
print(df[:5].to_latex())

In [ ]:
print(df[:5].to_latex(index=False))

In [ ]:
print(df[:5].to_html())

In [ ]:
from IPython.display import HTML
HTML(df[:5].to_html())

Selecting from the clipboard
=============================

- Let us select data from our previous sincos data frame.
- Will use this for more interesting stuff.

Select some data and then do this:

In [ ]:
df2 = pd.read_clipboard(sep=',')
df2

In [ ]:
url = 'https://drive.google.com/uc?id=1VgrBnWERE9YLslOoCLu8ZFLRbUu4jOED'
df = pd.read_csv(url, sep=';')

In [ ]:
df.head()

In [ ]:
df.describe()

## Example: Getting Kohli's batting scores

- Obtaining the Batting score data for ODIs.
- We walk through how we get the data for V. Kohli
- First visit here: https://stats.espncricinfo.com/ci/engine/player/253802.html?class=2;template=results;type=batting;view=innings

In [ ]:
df = pd.read_clipboard()
r = df.Runs.str.replace('*', '')
r1 = r[~r.str.contains('DNB')]
np.savetxt('/tmp/kohli.txt', r1.to_numpy(dtype=np.int32), fmt='%d')

## Example: Getting all Kohli's ODI batting data

- Obtaining all available data
- First visit here: https://stats.espncricinfo.com/ci/engine/player/253802.html?class=2;template=results;type=batting;view=innings

In [ ]:
data = pd.read_clipboard()

In [ ]:
# Strip any leading/trailing whitespace from the column headers.
data.columns

In [ ]:
data.columns = data.columns.str.strip()

In [ ]:
# Remove columns that are completely empty or were artifacts of the import
# process.
unnamed_cols = [col for col in data.columns if "Unnamed" in col]

# The above is a list comprehension. Equivalent to the following.
unnamed_cols = []
for col in data.columns:
    if "Unnamed" in col:
        unnamed_cols.append(col)

# Now drop the columns
data = data.drop(columns=unnamed_cols)

In [ ]:
# The 'Runs' column contains non-numeric characters like '*' for not-out
# innings. This section removes them and converts the column to a numeric type.
data["Runs"] = (
    data["Runs"].astype(str)
    .str.replace("*", "", regex=False)
    .replace("DNB", np.nan)  # Replace 'Did Not Bat' with NaN
)
data["Runs"] = pd.to_numeric(data["Runs"], errors="coerce")

In [ ]:
# Convert the 'Start DateAscending' column to datetime objects.
# Then, create a 'Year' column and drop the original date column.
data["Date"] = pd.to_datetime(data["Start DateAscending"], errors="coerce")
data["Year"] = data["Date"].dt.year
data = data.drop(columns=["Start DateAscending"])

# Remove the "v " prefix from the 'Opposition' column for consistency.
data["Opposition"] = data["Opposition"].str.replace("v ", "", regex=False)

In [ ]:
# Clean up text columns and create a binary 'NotOut' column.
data["Dismissal"] = (
    data["Dismissal"]
    .fillna("DNB")
    .astype(str)
    .str.strip()
    .fillna("DNB")
)
data["Ground"] = data["Ground"].str.strip()
data["Opposition"] = data["Opposition"].str.strip()
data["NotOut"] = data["Dismissal"].eq("not out").astype(int)

# Convert several other columns to numeric, coercing errors to NaN.
cols_to_numeric = ["BF", "4s", "6s", "Pos", "Inns", "SR", "Mins"]
for col in cols_to_numeric:
    data[col] = pd.to_numeric(data[col], errors="coerce")

# Arrange the DataFrame columns in a more logical order.
final_column_order = [
    "Date", "Year", "Ground", "Opposition", "Inns", "Pos",
    "Runs", "BF", "4s", "6s", "SR", "Dismissal", "NotOut"
]
data = data[final_column_order]
data.info()

# Export the final, cleaned DataFrame to a new CSV file.
output_filename = "/tmp/kohli_cleaned_batting.csv"
data.to_csv(output_filename, index=False)

### Some useful methods

In [ ]:
(data.Runs > 100).value_counts()

In [ ]:
data.NotOut.value_counts()

In [ ]:
np.sum(data.NotOut)

In [ ]:
data.Opposition.value_counts()

In [ ]:
data.Dismissal.value_counts()

In [ ]:
data.groupby('Opposition')['Runs'].sum()

In [ ]:
data.groupby('Opposition')['Runs'].mean()

In [ ]:
data.SR.mean()

In [ ]:
data.groupby('Opposition')['SR'].mean()

### Sampling a dataset

- Useful for probabilistic programming/bootstrapping

In [ ]:
data.sample(5, replace=True)

### Exercise


Consider a smaller file:

- File is at: http://www.aero.iitb.ac.in/~prabhu/tmp/sslc_small.csv
- Also in the files section

In [ ]:
url = 'http://www.aero.iitb.ac.in/~prabhu/tmp/sslc_small.csv'
df = pd.read_csv(url)
df.head()  # Produces only one strange column of data!

In [ ]:
df.dtypes

Notice that this data is read incorrectly, this is because the separator is
not a comma but a ';' so use this.

In [ ]:
df = pd.read_csv(url, sep=';')
df.head()

In [ ]:
df.dtypes

In [ ]:
df['region'].value_counts()

In [ ]:
df.plot.scatter(x='fl', y='math');

There are more options to `pd.read_csv`, for example if `'AA'` is a value
indicating a non-existing value you can pass an option, called `na_values`.
Read more on the documentation for `read_csv`.

In [ ]:
url = 'http://www.aero.iitb.ac.in/~prabhu/tmp/sslc1.csv.gz'
df = pd.read_csv(url, sep=';', na_values='AA')
df.head()

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.plot.hist(y='math', bins=50, figsize=(20, 10));

In [ ]:
data.groupby('Opposition')['Runs'].mean().plot.bar()
plt.tight_layout()
plt.grid();

More information
==================

- Only scratched the surface.
- http://pandas.pydata.org

- Go through the chapter here: https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html

- Go through the nice tutorials here:
   http://nbviewer.jupyter.org/github/jvns/pandas-cookbook/tree/v0.1/cookbook/